// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #242430;
$yellow: #FFC65A;
$orange: #FF6F5E;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$uporange: #FF7A64;
$upyellow: #FFEF6E;
$upnavy:rgb(36, 36, 48);
$uppink:#ff8bb5;
