// Specific CSS for your dashboard
html, body {
  background-color: $upnavy;
}

// align-items center will make it stretch the width of whatever screen size.
.goal_cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
  flex-direction: column;
  font-family: $upfont;

}

ul {
  list-style-type: none;
}
