// Specific CSS for your dashboard

.goal_cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
<<<<<<< Updated upstream
=======
  flex-direction: column;
  font-family: $upfont;

>>>>>>> Stashed changes
}

ul {
  list-style-type: none;
}
