.form-style {
  // border-style: solid;
  border-color: $uporange;
  border-width: 3px;
  // background-image: -moz-linear-gradient(center bottom, $uporange 33%, $uppink 67% );
  padding-left: 4px;
  padding-top: 5px;
  // border-image: linear-gradient(to left, #00C853, #B2FF59);
  // border-image: -webkit-linear-gradient(left bottom, right top,$uporange, $uppink) !important;
    // padding-left: 20px;
    // padding-right: 20px;
    // font-family: Bookman, URW;
    // color: black;;
    // background-color: -webkit-linear-gradient(left bottom, right top,$uporange, $uppink) !important;
    // width: 50%;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    border-radius: 15px;
    font-family: $upfont;
    font-size: 18px;
    background-color: #e9ecef;
}

.new_goal {
  font-family: $upfont;
  font-size: 18px;
  label {
    padding-left: 10px;
  }
  .flatpickr-input {
    padding-left: 6px;
  }
}
