#result {
    font-size: 18px;
    display: flex;
    max-width: fit-content;
}
.balance {
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 35px;
    border-radius: 6px;
    background: linear-gradient(to right,$uporange, $uppink);
    margin-bottom: 10px;
    padding: 5px;
}
.dollar {
    font-size: 18px;
    display: flex;
    margin-left: auto;
}
