#result {
    font-size: 18px;
    display: flex;
    max-width: fit-content;
    font-family: $upfont;
}
.balance {
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 35px;
    border-radius: 10px;
    background: $uporange;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    font-family: $upfont;
    padding-right: 5px;
}
.dollar {
    font-size: 18px;
    display: flex;
    margin-left: auto;
    font-family: $upfont;
}

.card {
    border-radius: 15px !important;
}
