<% no_days = num_days(due_date) %>

<% goal_end = created_to_end_date(created, due_date) %>

<% per = (((goal_end.to_f - no_days.to_f) / goal_end.to_f) * 100).round %>

<div class="progress mt-2">
  <div class="progress-bar bg-dark" role="progressbar"
       style="width: <%= per %>%;" aria-valuenow="<%= per %>"
       aria-valuemin="0" aria-valuemax="<%= goal_end%>"></div>
</div>
