<div class="mb-2 mx-auto quotes">
  "<%= ["A bargain ain’t a bargain unless it’s something you need",
        "Money looks better in the bank account than on your feet",
        "Do not save what is left after spending; instead spend what is left after saving",
        "Never spend your money before you have it",
        "The art is not in making money, but in keeping it"].sample%>"
</div>
