<h1>dashboard</h1>
<div class="card mb-3 mx-auto col-md-4 py-3 shadow-sm rounded">
  <%= render "goals_builder" %>
</div>
<div class="card mb-3 mx-auto col-md-4 py-3 shadow-sm rounded">
  <h2>Your Goals</h2>
  <%= render "goal_summary" %>
</div>


