<div class= "homepage">
  <div class="homepage-logo">
      WORTH IT.
  </div>
  <div class="value-prop">
    <span style="background-color: #FFEF6E">Because you're worth it (...wait, think that might be taken).</span>
  </div>
  <div class="be-proactive-title">
    BE PROACTIVE.
  </div>
  <div class="be-proactive-body">
    <span style="background-color: #FFEF6E">Understand the impact of your financial decisions BEFORE you make them.</span>
  </div>
  <div class="delayed-gratification-title">
    DELAYED GRATIFICATION.
  </div>
  <div class="delayed-gratification-body">
    <span style="background-color: #FFEF6E">Worth It. is here to help you achieve your long-term financial goals.</span>
  </div>
</div>
