
.home_title {
  text-align: center;
  color: #FF7A64;
  font-family: $upfont;
}

.home_subheading {
  color: #FFF2EF;
  text-align: center;
  font-family: $upfont;
}
.card_saver {
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.card_header {
  margin: 16px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.header_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card_name {
  display: flex;
 h4{
  font-size: 1.2rem;
 }
}
.card_title {
  display: flex;
  margin-bottom: 5px;
}

.card_subheading {
  text-align: left;
p{
  margin-bottom: 0rem;
  }
}

.card_numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  p{
    font-size: .8rem;
  }
}

#balance {
   h4{
    font-size: 1.2rem;
    margin-bottom: 0px;
   }
}

.card_progress {
  margin-bottom: 5px;
}

.progress {
  border-radius: 10px;
  height: .75rem;
}

#value {
    font-size: 30px;
}

.dollar-icon {
  position: absolute;
  top: 75px;
  right: 15px;
  width: 22px;
  height: auto
}

.time-icon {
  position: absolute;
  top: 100px;
  right: 25px;
  width: 22px;
  height: auto;
}

.dollar-bill {
  position: absolute;
  left: 10px;
  top: 130px;
}

.double_dollars {
  position: absolute;
  left: 8px;
  top: 35px;
  width: 70px;
  height: auto;
}

.dash_gif {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.piggy_bank {
  width: 200px;
}

.card_footer {
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 width: 100%;
 margin-bottom: 16px;
 align-items: center;
 h2{
  margin: 0px;
 }
}

.dashboard_footer {
  p {
    font-size: .7rem;
    color: #FFF2EF;
    text-align: center;
    font-family: $upfont;

  }
}

.goal_builder_footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 16px;
}

.card_contributions {
  color: #404040;
  padding-bottom: 15px;
  padding-left: 22px;
  right: 18px;
  z-index: 10;
}

.card_btn {
  text-decoration: none;
  background-color: #FF7A64;
  color: white;
  padding: 8px;
  border-radius: 4px;
  transition: 0.5s;
  a:hover {
    color: white;
    text-decoration: none;
  }
}

