
.home_title {
  text-align: center;
  color: #FF7A64;
}

.home_subheading {
  color: #FFF2EF;
  text-align: center;

}
.card_saver {
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.card_header {
  margin: 16px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.header_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.card_name {
 h4{
  font-size: 1.2rem;
 }
}

.card_numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#balance {
   h4{
    font-size: 1.2rem;
    margin-bottom: 0px;
   }
}




.card_progress {
  margin-bottom: 8px;
}

.progress {

}

#value {
    font-size: 30px;
}

.dollar-icon {
  position: absolute;
  top: 83px;
  right: 15px;
  width: 22px;
  height: auto
}

.time-icon {
  position: absolute;
  top: 113px;
  right: 25px;
  width: 22px;
  height: auto;
}

.dollar-bill {
  position: absolute;
  left: 10px;
  top: 160px;
}


.card_footer {
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 width: 100%;
 margin-bottom: 16px;
 align-items: center;
}

.card_contributions {
  color: #404040;
  padding-bottom: 20px;
  padding-left: 22px;
  right: 18px;
  z-index: 10;
}

.card_btn {
  text-decoration: none;
  background-color: #FF7A64;
  color: white;
  padding: 8px;
  border-radius: 4px;
  transition: 0.5s;
  a:hover {
    color: white;
    text-decoration: none;
  }
}

