.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 123, 100);
  font-family: Circular, Roboto, Helvetica, Arial, sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item {
  font-family: Circular, Roboto, Helvetica, Arial, sans-serif;
}

.navbar-lewagon .navbar-brand {
  object-fit: contain;
  width: 60px;
  height: 60px;
  padding-left: 5px;
}

.logo {
  width: 80px;
  height: 60px;
  padding-left: 0px;
}

.worth-it {
  position: relative;
  height: 50px;
  width: 200px;
  left: 50px;
}
